:root {
  --bg-color: #7fa99b;
  --heading-color: #fbf2d5;
  --text-color: #00000091;
  --accent-color: #fdc57b;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 15px;
}

h1 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 78px;
}

h2,
h4 {
  font-weight: 600;
  display: block;
  color: var(--heading-color);
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
}

h3 {
  color: var(--text-color);
  font-size: 48;
}
p {
  font-size: 18px;
  font-weight: 300;
}

hr {
  background-color: var(--heading-color);
}

img {
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}

a:hover {
  opacity: 75%;
  color: var(--text-color);
}

.container {
  border: var(--heading-color) solid 1px;
  border-radius: 4px;
  padding: 15px;
  margin: 15px auto;
}

.hero {
  text-align: center;
  padding: 60px 15px;
  border-radius: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.links a {
  padding: 15px;
  margin: 15px;
  background-color: #fbf2d548;
  width: 160px;
  color: var(--text-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
}

.visit {
  padding: 8px;
  background-color: #fbf2d548;
  color: var(--text-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.contact p {
  text-align: center;
}

.navbar-brand {
  font-weight: 600;
}

.text {
  color: var(--text-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 42px;
  }

  .nav-links a {
    font-size: 21px;
  }
}
