body {
  font-family: "Urbanist", sans-serif;
  background-color: #97ebcc;
  color: #889498;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 48px;
}

h3 {
  color: white;
  font-weight: 600;
}

p {
  font-family: "Source Serif Pro", serif;
}
