:root {
  --bg-color: #004643;
  --heading-color: #fffffe;
  --heading75: #e1e2e7c2;
  --text-color: #abd1c6;
  --accent-color: #fdc57b;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 15px;
}

h1 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 96px;
  text-align: center;
}

h2,
h4 {
  font-weight: 600;
  display: block;
  color: var(--heading-color);
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
}

h3 {
  color: var(--text-color);
  font-size: 48;
}
p {
  font-size: 18px;
  font-weight: 300;
}

hr {
  background-color: var(--heading-color);
  margin: 24px 9px;
}

img {
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}

a:hover {
  opacity: 75%;
  color: var(--heading-color);
}

footer {
  text-align: center;
  padding: 15px;
  color: var(--heading-color);
  opacity: 75%;
}

footer a {
  color: var(--heading-color);
}

.container {
  width: 100%;
  border: var(--heading75) solid 1px;
  border-radius: 4px;
}

.hero {
  text-align: center;
  padding: 30px 0px 0px;

  background-color: var(--bg-color);
}

.hero h1 {
  color: var(--heading-color);
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
  margin: 0;
}

.links a {
  padding: 15px;
  margin: 15px;
  background-color: var(--text-color);
  width: 160px;
  color: var(--bg-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
}

.visit {
  padding: 8px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 4px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.visit:hover {
  color: var(--bg-color);
}

.contact p {
  text-align: center;
}

.navbar-brand {
  font-weight: 600;
}

.text {
  color: var(--text-color);
}

@media (max-width: 770px) {
  h1,
  h2 {
    font-size: 48px;
  }

  .links a {
    font-size: 21px;
  }
}
